.welcome{
    background-color: black;
    font-size: 160px;
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    width: 100vw;
}


span{
    color: red;
    animation: spearead 1s ease-in-out infinite alternate;
    -webkit-animation: spearead 1s ease-in-out infinite alternate;
}

@keyframes spearead{
    to{
        color: blue;
        text-shadow: 20px 0 70px blue;
    }
}

@for $i from 1 through 5 {
    span:nth-child(#{$i}){
        animation-delay:($i - 1) * 0.3s;
        -webkit-animation-delay:($i - 1) * 0.3s;
    }
}