main {
    background-color: #000;
    position: relative;
    height: 100vh;
    z-index: -1;
}

.title-eara {
    position: absolute;
    margin-top: 15%;
    margin-left: 24%;
}

.title-text {
    color: black;
}
.right-text{
    color: white;
}
.left-text{
    margin-left: 1rem;
    color: #0066cc;
}