
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}


.title {
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    z-index: -1;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    height: var(--headerheight);
}

.logo {
    color: #fff;
    display: flex;
}

.nav a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 16px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
}

.nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.user-form-group a {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.signup {
    border: rgba(255, 255, 255, 0.5) 3px solid;
    padding: 8px 16px;
    margin-left: 16px;
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.signup:hover {
    background: white;
    color: black;

}

.nav .logo {
    display: none;
}

#check {
    display: none;
}

.user-form-group label {
    display: none;
}



@media (max-width: 768px) {

    .loader {
        display: none;
    }

    .user-form-group label {
        display: block;
    }

    .nav {
        position: absolute;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        background: #0f172a;
        height: 100vh;
        width: 50%;
        padding: 0px 20px;
        gap: 16px;
        transition: 500ms;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        -ms-transition: 500ms;
        -o-transition: 500ms;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .nav .logo {
        margin-left: 16px;
        margin-top: 20px;
        display: block;
    }

    .divider {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 2px;
        margin: 10px 0px;
    }

    .user-form-group {
        display: flex;
        align-items: center;
    }

    .signup {
        margin-right: 16px;
    }



    .menu {
        font-size: 45px;
        color: white;
        cursor: pointer;

    }

    #check:checked~.user-form-group .menu {
        display: none;
    }

    .close-menu {
        font-size: 45px;
        color: white;
        cursor: pointer;
    }

    .user-form-group .close-menu {
        display: none;
    }

    #check:checked~.user-form-group .close-menu {
        display: block;
    }

    #check:checked~.nav {
        left: 0%;
    }
}